body{
  background: #141414;
  color: #ffffff;
}

.logo{
  width: 10%;
  height: 10%;
  margin: 20px 31px 0px 12px;
}

.title{
  margin: 20px 31px 0px 31px;
}

.row{
  display:grid;
  grid-gap: 5px;
  grid-template-columns: repeat(6, 1fr);
}

.image-container {
	position: relative;
	transition: transform 0.2s;
  width: 100%;
  max-width: 200px;
  margin: 20px;
  justify-self: center;
}

.image-container:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.image-container:hover .overlay {
	opacity: 1;
}

.image {
  display: block;
  width: 100%;
  min-height: 100%;
}

.overlay {
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
	transition: 0.5s ease;
	opacity: 0;
	bottom: 0;
	font-size: 20px;
	padding: 20px 0px;
	text-align: center;
  width: 100%;
}